<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
</head>

<body ng-controller="triviaCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click="notSetting = false; update = true;"><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a ng-click="filter.difficultyLv = ''; filter.question=''">All Questions</a>
      <a ng-click="filter.difficultyLv = 'Easy'">Easy</a>
      <a ng-click="filter.difficultyLv = 'Medium'">Medium</a>
      <a ng-click="filter.difficultyLv = 'Hard'">Hard</a>
      <a ng-click="search()">Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by" ng-show="isTrue" ng-model="filter.question">
    </div>

    <!-- Questions go here -->
    <div class="question-wrapper" ng-repeat="question in data | filter: filter">
      <h3>{{question.question}}</h3>
      <span ng-class="{green: question.difficultyLv == 'Easy', red: question.difficultyLv == 'Medium', yellow: question.difficultyLv == 'Hard'}">{{question.difficultyLv}}</span>
      <div class="gear" ng-click="setData(question);">
        <img src="styles/assets/gear.svg" alt="gear" >
      </div>
      <div ng-repeat="(key, value) in question.options" ng-class="{green: ($index == question.idx && key == question.correct_answer), red: ($index == question.idx && key != question.correct_answer)}">
        <input type="radio" name="{{question._id}}" ng-click="question.idx = $index">
        <input type="text" readonly value="{{value}}">
      </div>
    </div>
    <a ng-click="prevPage()" class="left" ng-hide="firstPage">prevPage</a>
    <a ng-click="nextPage()" class="right" ng-hide="lastPage">nextPage</a>
  </article>

  <div class="modal" ng-hide="notSetting">
    <form>
      <h4 class="close" ng-click="reset()">X</h4>
      <span>Question</span><input type="text" ng-model="newQuestion.question">
      <span>Animal it's about</span><input type="text" ng-model="newQuestion.animal">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="newQuestion.difficulty">

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="newQuestion.correct_answer" value="1">
        <input type="text" ng-model="newQuestion.options[1]">
      </div>
      <div>
        <input type="radio" ng-model="newQuestion.correct_answer" value="2">
        <input type="text" ng-model="newQuestion.options[2]">
      </div>
      <div>
        <input type="radio" ng-model="newQuestion.correct_answer" value="3">
        <input type="text" ng-model="newQuestion.options[3]">
      </div>
      <div>
        <input type="radio" ng-model="newQuestion.correct_answer" value="4">
        <input type="text" ng-model="newQuestion.options[4]">
      </div>

      <!--Add question buttons-->
      <div class="buttons" ng-hide="add">
        <button class="green" ng-click="addData()">Save Question</button>
        <button ng-click="reset()">Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons" ng-hide="update">
        <button class="red" ng-click="deleteData()">Delete Question</button>
        <button class="green" ng-click="updateData()">Save Changes</button>
        <button ng-click="reset()">Cancel</button>
      </div>

    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
  <script src="./js/triviaCtrl.js" charset="utf-8"></script>
  <script src="./js/triviaSvc.js" charset="utf-8"></script>
</body>

</html>
